@page
@model inlämningbank.Pages.Accounts.WithdrawModel
@{
}

<h1>Withdraw</h1>
<div><a class="btn-theme" onclick="window.history.back()"> Back</a></div>
<form method="post">
    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input class="form-control" asp-for="Amount" />
        <span class="field-validation-error" asp-validation-for="Amount"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comment">Comment</label>
        <input class="form-control" asp-for="Comment" />
        <span class="field-validation-error" asp-validation-for="Comment"></span>
    </div>
    <button type="submit" asp-page-handler="Withdraw" asp-route-accountId="@Model.AccountId" class="btn btn-primary">Withdraw</button>
</form>


