.transfer-card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
}
h1 {
    display: flex;
    justify-content: center;
    color: #24527a;
}

.transfer-card .form-group {
    margin-bottom: 20px;
}

.transfer-card .form-label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.transfer-card .form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.transfer-card .form-control:focus {
    border-color: #2e9cdf;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(46, 156, 223, 0.25);
}

    .transfer-card .text-danger {
        display: block;
        margin-top: 5px;
        
    }
.scroll-box {
    overflow-y: scroll;
    max-height: 250px; /* set your desired height */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #ffffff;
    
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li:nth-child(even) {
    background-color: #f7f7f7;
}

li:nth-child(odd) {
    background-color: #fff;
}

li {
    text-align: center;
    padding: 10px;
    color: #24527a;
    font-weight: bold;
}

